body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: darkviolet;
}

.btn{
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;

   
    
    margin-top: 1.5rem;
    

    
    
}
form{
    background-color: rgb(173, 7, 244);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 20vw;
    border-radius: 20px;
    padding-left: 30px;
   
   
    

}
.area{
  
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
 h1{
    margin-right: -20;
 }
    
